---
import Layout from '@/layouts/Layout.astro';

import Header from '@/components/Header.astro';
import About from '@/components/About.astro';
import Activities from '@/components/Activities.astro';
---

<Layout title="Bienvenido">
	<main>
		<Header />
		<About />
		<Activities />
	</main>
</Layout>
