---
import Layout from '../layouts/Layout.astro';

import Welcome from '../components/Welcome.astro';
import Horarios from '../components/Horarios.astro';
import Conocenos from '../components/Conocenos.astro';
---

<Layout title="Bienvenido">
	<main>
		<Welcome />
		<Horarios />
		<Conocenos />
	</main>
</Layout>
