---
import Layout from '@/layouts/Layout.astro';

import Header from '@/components/Header.astro';
import About from '@/components/About.astro';
---

<Layout title="Bienvenido">
	<main>
		<Header />
		<About />
	</main>
</Layout>
