---
import Layout from '@/layouts/Layout.astro';

import Welcome from '@/components/Welcome.astro';
import Conocenos from '@/components/Conocenos.astro';
---

<Layout title="Bienvenido">
	<main>
		<Welcome />
		<Conocenos />
	</main>
</Layout>
