<section class="flex flex-col justify-center items-center p-8 md:h-[700px]">
    <div class="flex flex-col justify-center items-center mb-14">
        <p class="text-sm italic">UNA IGLESIA PARA TODOS</p>
        <h3 class="text-2xl font-bold leading-6 text-center">ESTOS SON NUESTROS VALORES</h3>
    </div>
    <div>
        <ul class="flex flex-col gap-y-4 md:flex-row md:gap-x-4 md:px-40">
            <li class="bg-white text-black rounded-md py-8 px-10">
                <!-- Icon -->
                <h6 class="font-bold text-xl">REAL</h6>
                <p class="text-lg leading-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum sapiente culpa ipsum, blanditiis fugiat doloremque officia iure, unde error earum ea at sequi magnam facere doloribus porro consequuntur eveniet velit!</p>
            </li>
            <li class="bg-white text-black rounded-md py-8 px-10">
                <!-- Icon -->
                <h6 class="font-bold text-xl">EQUILIBRADO</h6>
                <p class="text-lg leading-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum sapiente culpa ipsum, blanditiis fugiat doloremque officia iure, unde error earum ea at sequi magnam facere doloribus porro consequuntur eveniet velit!</p>
            </li>
            <li class="bg-white text-black rounded-md py-8 px-10">
                <!-- Icon -->
                <h6 class="font-bold text-xl">DIVERTIDO</h6>
                <p class="text-lg leading-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum sapiente culpa ipsum, blanditiis fugiat doloremque officia iure, unde error earum ea at sequi magnam facere doloribus porro consequuntur eveniet velit!</p>
            </li>
        </ul>
    </div>
</section>