---
import Button from "@/components/ui/Button.astro";
---

<div class="grid grid-cols-3 h-screen items-center">
  <div
    class="flex flex-col justify-center items-center col-span-2 bg-gray-100 h-screen px-32"
    style="background-image: url(/Conocenos.webp); background-size: cover; background-position: center;"
  >
    <h2 class="text-5xl text-slate-100 font-bold mb-2">¡Queremos conocerte!</h2>
    <p class="text-2xl text-slate-100 font-light text-center mb-4">
      Somos un montón de gente imperfecta buscando a un Dios perfecto, y nos conectamos unos con otros para hacer amigos en el camino, el objetiov es la plenitud eterna, y queremos llegar ahí contigo.
    </p>
    <Button link="https://wa.me/2462029653" />
  </div>
  <div class="h-screen">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.1654416862193!2d-98.24506492471058!3d19.318625981936652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfd971884842f5%3A0xd40b58e546c1a633!2sIglesia%20Red%20TLX!5e0!3m2!1sen!2smx!4v1710478049014!5m2!1sen!2smx"
      class="h-full w-full"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
