<div class="grid grid-flow-row md:grid-flow-col md:grid-cols-3 md:h-screen">
    <div
        style="
            background-image: url(/Conocenos.webp);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @media (max-width: 768px) {
                background-size: contain;
            }
        "
        class="flex flex-col items-center justify-center text-slate-100 text-center h-[400px] px-4 md:col-span-2 md:h-screen md:px-48"
    >
        <h3 class="text-4xl font-bold">¡QUEREMOS CONOCERTE!</h3>
        <p class="text-sm font-extralight italic">
            Somos un montón de gente imperfecta buscando a un Dios perfecto, y nos
            conectamos unos con otros para hacer amigos en el camino, el objetivo es
            la plenitud eterna, y queremos llegar ahí contigo
        </p>
    </div>
    <div class="w-full h-[400px] md:h-full">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.1654416862193!2d-98.24506492471058!3d19.318625981936652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfd971884842f5%3A0xd40b58e546c1a633!2sIglesia%20Red%20TLX!5e0!3m2!1sen!2smx!4v1710891991041!5m2!1sen!2smx"
            style="border:0;"
            allowfullscreen=""
            width="100%"
            height="100%"
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
