<div class="flex justify-between px-32 py-14 bg-red-500">
  <div>
    <h2>¡Queremos conocerte!</h2>
    <p>En Iglesia Red hay alguien que te estará esperando con una sonrisa, por favor,<br>
    ven y vive una experiencia junsto con Dios</p>
  </div>
  <div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1583.0655857536387!2d-98.24276496928306!3d19.31774587406464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfd971884842f5%3A0xd40b58e546c1a633!2sIglesia%20Red%20TLX!5e0!3m2!1sen!2smx!4v1710297596191!5m2!1sen!2smx"
      width="400"
      height="300"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
