<footer class="bg-black text-slate-100 h-20 flex flex-col md:flex-row md:justify-between items-center px-4 md:px-32">
    <section class="font-extralight mb-4 md:mb-0 md:mr-8">
        <ul class="flex gap-x-4">
            <li>
                <a href="https://www.instagram.com/iglesiaredtlx/" target="_blank">
                    <img src="./instagram.png" alt="Instagram Logo" class="h-6" />
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/IglesiaRedTlx" target="_blank">
                    <img src="./facebook.png" alt="Facebook Logo" class="h-6" />
                </a>
            </li>
        </ul>
    </section>
    <section class="flex justify-center items-center text-sm font-extralight">
        Todos los derechos reservados a Iglesia Red TLX © 2021
    </section>
</footer>
