<section
  style="
        background-image: url('/img/Background.webp');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    "
    class="h-[700px] w-full flex flex-col gap-y-2 items-start justify-end pb-10 px-8 md:pb-20 md:px-32"
    >
    <p class="text-sm italic">BIENVENIDO A CASA</p>
    <h1 class="text-4xl font-bold leading-8">UNA IGLESIA IMPERFECTA, BUSCANDO A UN <i>DIOS PERFECTO</i></h1>
    <p class="text-sm italic">SANTOS &gt; HÉROES</p>
  </section>
