<section
  style="
        background-image: url('/public/img/Background.webp');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    "
    class="h-screen w-full flex items-center justify-center"
    >
    <p>BIENVENIDO A CASA</p>
    <h1>UNA IGLESIA IMPERFECTA, BUSCANDO A UN DIOS PERFECTO</h1>
</section>
