<div class="py-16 flex flex-col justify-center items-center">
    <h3 class="text-3xl text-slate-100 font-bold mb-10">NUESTROS HORARIOS</h3>
    <h4 class="text-2xl text-slate-100 font-semibold">DOMINGO:</h4>
    <p class="text-2xl text-slate-100 font-medium mb-10">11:30 am / 01:00 pm</p>
    <h4 class="text-2xl text-slate-100 font-semibold">MIÉRCOLES:</h4>
    <p class="text-2xl text-slate-100 font-medium">07:00 pm</p>
</div>