<nav class="mx-32 my-5 flex justify-between">
  <a href="/">
    <img src="Iglesia Red.png" class="h-8" />
  </a>
  <ul class="flex gap-x-8 font-bold text-slate-200">
    <li>
      <a href="/servir">Servir Sana</a>
    </li>
    <li>
      <a href="/eventos">Eventos</a>
    </li>
    <li>
      <a href="/grupos">Grupos CNXN</a>
    </li>
  </ul>
</nav>
