<div
    class="container mx-auto text-slate-100 h-screen flex flex-col justify-end items-center text-center pb-24"
    style="background-image: url(/ServirBackground.webp);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;"
  >
    <h1 class="text-5xl font-bold">SERVIR SANA</h1>
    <p class="text-xs px-14 md:px-96">
        CREEMOS QUE SERVIR ES UN ACTO DE AMOR POR EL
        PADRE Y POR EL PROJIMO, TE INVITAMOS A QUE SEAS PARTE
        DEL GRAN EQUIPO QUE FACILITA MILAGROS EN LA TIERRA
    </p>
  </div>