<div
    style="
        background-image: url(/Background.webp);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    "
    class="h-[700px] flex flex-col items-center justify-end px-4 pb-12 md:h-screen md:pb-28"
>
    <h1 class="text-4xl font-bold text-center text-slate-100 md:text-6xl">BIENVENIDO A CASA</h1>
    <h3 class="text-xs font-thin italic text-center text-slate-100 md:text-base">UNA IGLEISA IMPERFECTA BUSCANDO A UN DIOS PERFECTO</h3>
    <p class="text-xs font-thin italic text-center text-slate-100 md:text-base">HORARIOS DE DOMINGO: 11:30 AM / 01:00 PM</p>
</div>