<div
  style="background-image: url(/Background.webp); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;"
  class="h-screen flex flex-col justify-center items-center"
>
  <h2 class="text-5xl font-bold text-slate-100">BIENVENIDO A CASA</h2>
  <p class="text-xl font-semibold text-slate-100">
    UNA IGLESIA IMPERFECTA BUSCANDO A UN <i>DIOS</i> PERFECTO
  </p>
</div>
